@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-signika: "Signika", sans-serif;
  --font-cinzel: "Cinzel", serif;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-imfell: "IM Fell English SC", serif;
  --font-playfair: "Playfair Display", serif;
  --color-title: #FED550;
  --color-dnd-gray: #4F6D7A;
  --color-create-story-primary: #FED550;
  --color-create-story-secondary: #4F6D7A;
  --color-ghibli-gold: #E9C46A;
  --color-ghibli-apricot: #F4A261;
  --color-ghibli-cream: #FAF3E0;
  --color-ghibli-forest: #264653;
  --color-ghibli-sunset: #E76F51;
  --color-ghibli-brown: #4E342E;
  --color-light-green: #8d9d4f;
}

:root {
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --radius: 0.5rem;
}
